


<main class="col-md-6 col-xl-8  col-sm-auto py-md-3 pl-md-5 bd-content" role="main" >
  <div class="row">
  <h4 class="bd-title" id="content" *ngIf="sessionUser1" ><strong>{{sessionUser1.username}}'s pofile... </strong></h4>
  </div>
<h4 class="card-text" *ngIf="sessionUser1">Überschriften von {{sessionUser1.username}}</h4>
  <div class="commments-list" *ngFor=" let ubrpr of ueberschriftpr">
    <div class="media">
      <div class="media-body">
        <h4 class="text-secondary"><em><small>{{ubrpr.text}}</small></em>
        </h4>
        <div class="col-md-4" id="username"><em><small>
          {{ubrpr.realTime}}</small></em>
        </div>
      </div>
    </div>
    </div>

  <h4 class="card-text" *ngIf="sessionUser1">einträge von {{sessionUser1.username}}</h4>

  <div *ngIf="likesuser!= null">

  <div class="commments-list" *ngFor="let eintrag of this.eintrags">
    <div class="media">
      <div class="media-body">

        <p class="pull-right"><small>{{eintrag.realTime}}</small></p>
        <h4 class="text-secondary"><em><small>{{eintrag.text}}</small></em>
        </h4>

        <div class="row">
          <button class="btn btn-primary btn-sm" > <small>{{eintrag.likesnumber}}</small></button>


          <div class="col-md-4" id="eintragdate"><em><small>
            {{eintrag.realTime}}</small></em>
          </div>
<!--          <div class="col-lg-4">

            <small>
              <a [routerLink]="['/user-like',usrlke.eintrag.userid]">geschrieben von~{{usrlke.eintrag.username}}
              </a>
            </small>
          </div>-->
    </div>

  </div>

    </div>
  </div>
</div>

  <h4 class="card-text" *ngIf="sessionUser1">likes von {{sessionUser1.username}}</h4>

  <div *ngIf="likesuser!= null  &&likesuser.length > 0">

    <div class="commments-list" *ngFor="let usrlke of likesuser">
      <div class="media">
        <div class="media-body">

          <p class="pull-right"><small>{{usrlke.eintrag.realTime}}</small></p>
          <h4 class="text-secondary"><em><small>{{usrlke.eintrag.text}}</small></em>
          </h4>

          <div class="row">
            <button class="btn btn-primary btn-sm" > <small>{{usrlke.eintrag.likesnumber}}</small></button>


            <div class="col-md-4" id="eintragdate1"><em><small>
              {{usrlke.eintrag.ldt}}</small></em>
            </div>
            <!--          <div class="col-lg-4">

                        <small>
                          <a [routerLink]="['/user-like',usrlke.eintrag.userid]">geschrieben von~{{usrlke.eintrag.username}}
                          </a>
                        </small>
                      </div>-->
          </div>

        </div>

      </div>
    </div>
  </div>



</main>
