@media {
  h3 {
    text-align: right;
    padding-left: 200px;
    margin-right: 50px;


    color: blue
  }
}

@media (max-width: 940px){

  h3{
    text-align: left;
    padding-left: 100px;
  }
}


a.navbar-brand{


}

.bd-title {

  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 3rem;
}



@media(max-width: 850px) and (min-width: 768px){
  div.row{
padding-left: 0px;
  }
}
div.row{
  padding-left: 150px;

}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div.col-lg-8{

  text-align:left;
  padding-left: 20px;

}
div.col-lg-4{
  text-align: right;

}

p.pull-left{
  text-align: left;
}

@media (max-width: 700px) {
  p.pull-right{

    position: absolute;
    right: -30px;
    padding-left: 100px

  }

}

p.pull-right{
  text-align: right;
}


h4{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #0a0a0a;
}

h5{

  padding-left: 210px;
  padding-right: 350px;
  padding-bottom: 50px;
  padding-top: 40px;
}

@media(max-width: 768px){
  main.bd-content{
    position: absolute;
    top: 300px;
    left: 70px;
    max-width:85%;
  }
}

@media(max-width: 1200px) and (min-width: 768px){
  main.bd-content{
    position: absolute;
    left: 300px;
    max-width: 70%;
  }

}
@media(max-width: 499px){
  main.bd-content{
    max-width: 200%}
}
main{
  position: absolute;
  left: 450px;
  width: 850px;

}

.bd-content {

  order: 1;
}
div.media-body{

  border-bottom: 1px dotted #ccc;
}

@media (min-width: 1200px){
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }}

strong{
  color: red;
}
h4#content.bd-title{
 max-width: 100%;
  text-align: left;
}
