
/*.navbar-brand {
  width: 300px;
  text-align: center;
}

.list-group-flush{


  width: 450px;
  text-align: center;
  position: sticky;
  padding: 100px;

}


@media (min-width: 767px) {
  .form-inline {
    position: absolute;
    left: 50px;
    right: 0;
    margin: auto;
    width: 19%;
    float: none;
    text-align: center;
    padding: 8px 0;
  }


}*/


.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(229, 232, 234, 0.63);

}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #232921;
  text-align: left;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
}
.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}



