


<main class="col-md-6 col-xl-8  col-sm-auto py-md-3 pl-md-5 bd-content" role="main" >

  <div *ngIf="ueberschrift">
  <h1 class="bd-title" id="content" >
    <strong>{{ueberschrift.text}}</strong></h1>
  <!--  <button (click) ="deleteEntry()"></button>-->

<!--
  <p class = "pull-left" *ngIf="ueberschrift"><small><strong>{{ueberschrift.realTime}}</strong>~~~~~~~~~~~</small>

    <small>
      <a [routerLink]="['/user-like',ueberschrift.userid]">geschrieben von~{{ueberschrift.username}}
      </a>
    </small>

  </p>-->

    <div class="col-lg-12">

      <button class="btn btn-secondary btn-sm" id="schreiben" [routerLink]="['/eintrag-schreiben', ueberschrift.id, sessionUser.id,eintragList.length+1]" *ngIf="sessionUser !== null&&ueberschrift&&eintragList">eintrag Schreiben
      </button>
  <hr>
  <div class="commments-list" *ngFor="let eintrag of eintragList">
    <div class="media">
      <div class="media-body col-md-6">
<!--        <p class="pull-right"><small><strong>{{eintrag.ldt}}</strong></small></p>-->

        <h4 class="text-secondary"><small>{{eintrag.text}}</small>
        </h4>
        <div class="row">
          <div>
          <button class="btn btn-secondary btn-sm" > <small>{{eintrag.likesnumber}}</small></button>
          </div>
          <div *ngIf="sessionUser!== null && !likeseintrags.includes(eintrag.id)" class="col-lg-3">

            <button  class="btn btn-secondary btn-sm" (click)="addToLikes(eintrag)" >wunderbar!</button>

          </div>

<!--
          <div *ngIf="sessionUser!== null && eintrag.username === sessionUser.username" class="col-lg-3">

            <button  class="btn btn-primary btn-sm" (click)="deleteEitrag(eintrag)" >eintrag löschen</button>

          </div>-->


          <div class="col-md-4" id="username"><em><small>
            {{eintrag.realTime}}</small></em>
          </div>


          <div class="col-md-3">
            <ul class="nav justify-content-md-center" >
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{eintrag.username}}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                  <a class="btn" (click)="deleteEitrag(eintrag)" *ngIf="sessionUser!== null && eintrag.username === sessionUser.username">eintrag löschen</a>
                  <a class="btn" (click)="removelike(eintrag)" *ngIf="likeseintrags.includes(eintrag.id)&& sessionUser!== null && eintrag.username === sessionUser.username">wunderbar zurück</a>
                  <a class="btn"  [routerLink]="['/user-like',eintrag.userid]">profile</a>
                  <a class="btn" *ngIf="sessionUser!==null&&sessionUser.username!==eintrag.username" [routerLink]="['/message',sessionUser.id,eintrag.userid]">nachricht schreiben</a>
                </div>


              </li>

              <!--            <button  class="btn btn-secondary btn-sm" (click)="deleteEitrag(eintrag)" >eintrag löschen</button>-->
            </ul>
          </div>


          <!--               <p *ngIf="sessionUser !== null && likesnumber.includes(sessionUser.id)&&eintrag"><strong>liked!</strong>
                         </p>-->

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</main>
<!--

<ul class="w-50 p-3">
    <h3>{{entry.name}}</h3>
  <li *ngFor="let yorum of yorums">
    {{yorum.text}}

  </li>
  <li class="nav-item active">
    <a class="navbar-brand" [routerLink]="['/yorum', entry.id]" >Kommentar Schreiben
    </a>
  </li>
</ul>
-->
