


<button  class="btn btn-secondary btn-sm " *ngIf="initialCount===100" (click)="addLikes()" >Like | {{initialCount}}</button>



<button  class="btn btn-secondary btn-sm " *ngIf="initialCount>100" (click)="removeLikes()" >Liked | {{initialCount}}</button>



