

a.navbar-brand{
  color: rgba(10, 10, 10, 0.63);
}
a.navbar-brand:hover{
  color: #1b78db;
}

a.nav-link{
  color: #232921;
}
a.nav-link:hover{
  color: #1b78db;
}
.bd-navbar {

  min-height: 4rem;
  background-color: rgba(213, 229, 245, 0.63);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);


}


div.card-body.form-inline{
padding:50px;}


/*.navbar-nav{
  display: flex;
  list-style: none;
}*/


  header {
    width: 100%;
    max-width: 1800px; /*top menünün uzunlugu bu*/
    height: 100px;
  }

@media (max-width: 499px) {

  header{
width: 250%;  }
}


@media (min-width: 768px) {
  ul.nav.justify-content-center {
    background-color: rgba(229, 232, 234, 0.63);

  }
}
@media (max-width: 499px) {
  ul.nav.justify-content-center {
   width: 250%;

  }
}


@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;

  }

}

span{
  position: absolute;
  top: 35px;
  right: 270px;
}

