body{margin-top:20px;
  background:#eee;


}

.btn-compose-email {
  padding: 10px 0px;
  margin-bottom: 20px;
}

.btn-danger {
  background-color: #E9573F;
  border-color: #E9573F;
  color: white;
}

.panel-teal .panel-heading {
  background-color: rgba(12, 0, 0, 0.96);
  border: 1px solid rgba(77, 85, 95, 0.13);
  color: white;


}

.panel .panel-heading {
  padding: 2px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #DDD;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.panel .panel-heading .panel-title {
  padding: 10px;
  font-size: 27px;

}

/*search  kismi*/
form .form-group {
  position: relative;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.inner-all {
  padding: 5px;
}

/* ========================================================================
 * MAIL
 * ======================================================================== */
.nav-email > li:first-child + li:active {
  margin-top: 0px;
}
.nav-email > li + li {
  margin-top: 1px;
}
.nav-email li {
  background-color: white;
}
.nav-email li.active {
  background-color: transparent;
}
.nav-email li.active .label {
  background-color: white;
  color: black;
}
.nav-email li a {
  color: black;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.nav-email li a:hover {
  background-color: #EEEEEE;
}
.nav-email li a i {
  margin-right: 5px;
}
.nav-email li a .label {
  margin-top: -1px;
}

.table-email tr:first-child td {
  border-top: none;
}
.table-email tr td {
  vertical-align: top !important;

}
.table-email tr td:first-child, .table-email tr td:nth-child(2) {
  text-align: center;
  width: 75px;


}
.table-email tr.unread, .table-email tr.selected {
  background-color: #EEEEEE;
}

/*mesaj kismi*/
.table-email .media {
  margin: 0px;
  padding: 0px;
  position: relative;

}
.table-email .media h4 {
  margin: 0px;
  font-size: 14px;
  line-height: normal;
}
.table-email .media-object {
  width: 35px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/*zaman kismi*/
.table-email .media-meta, .table-email .media-attach {
  font-size: 11px;
  color: #999;
  position: absolute;
  right: 10px;

}
.table-email .media-meta {
  top: 0px;
}
.table-email .media-attach {
  bottom: 0px;
}
.table-email .media-attach i {
  margin-right: 10px;
}
.table-email .media-attach i:last-child {
  margin-right: 0px;
}
.table-email .email-summary {
  margin: 0px 110px 0px 0px;
}
.table-email .email-summary strong {
  color: #333;
}
.table-email .email-summary span {
  line-height: 1;
}
.table-email .email-summary span.label {
  padding: 1px 5px 2px;
}
.table-email .ckbox {
  line-height: 0px;
  margin-left: 8px;
}
.table-email .star {
  margin-left: 6px;
}
.table-email .star.star-checked i {
  color: goldenrod;
}

.nav-email-subtitle {
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 15px;
  margin-top: 30px;
}

.compose-mail {
  position: relative;
  padding: 15px;
}
.compose-mail textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
}

.view-mail {
  padding: 10px;
  font-weight: 300;
}

.attachment-mail {
  padding: 10px;
  width: 100%;
  display: inline-block;
  margin: 20px 0px;
  border-top: 1px solid #EFF2F7;
}
.attachment-mail p {
  margin-bottom: 0px;
}
.attachment-mail a {
  color: #32323A;
}
.attachment-mail ul {
  padding: 0px;
}
.attachment-mail ul li {
  float: left;
  width: 200px;
  margin-right: 15px;
  margin-top: 15px;
  list-style: none;
}
.attachment-mail ul li a.atch-thumb img {
  width: 200px;
  margin-bottom: 10px;
}
.attachment-mail ul li a.name span {
  float: right;
  color: #767676;
}

@media (max-width: 640px) {
  .compose-mail-wrapper .compose-mail {
    padding: 0px;
  }
}
@media (max-width: 360px) {
  .mail-wrapper .panel-sub-heading {
    text-align: center;
  }
  .mail-wrapper .panel-sub-heading .pull-left, .mail-wrapper .panel-sub-heading .pull-right {
    float: none !important;
    display: block;
  }
  .mail-wrapper .panel-sub-heading .pull-right {
    margin-top: 10px;
  }
  .mail-wrapper .panel-sub-heading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .mail-wrapper .panel-footer {
    text-align: center;
  }
  .mail-wrapper .panel-footer .pull-right {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
  .mail-wrapper .attachment-mail ul {
    padding: 0px;
  }
  .mail-wrapper .attachment-mail ul li {
    width: 100%;
  }
  .mail-wrapper .attachment-mail ul li a.atch-thumb img {
    width: 100% !important;
  }
  .mail-wrapper .attachment-mail ul li .links {
    margin-bottom: 20px;
  }

  .compose-mail-wrapper .search-mail input {
    width: 130px;
  }
  .compose-mail-wrapper .panel-sub-heading {
    padding: 10px 7px;
  }
}

app-left-frame{
  visibility: hidden;
}

div.col-md-3.col-xl-2.bd-sidebar{
  visibility: hidden;
}

input.form-control.no-border{
  width: 350px;
}
td#clickbox{

}
div.ckbox.ckbox-theme{
  margin-top: 7px;
}

div#all.ckbox.ckbox-theme{
  margin-left: 26px;
}

/*div.row{
  position: static;
 margin-left: 250px;
  width: 1200px;

}*/

div.container{
  position: absolute;
  left:450px;
  margin-top: 50px;
}
@media (max-width: 1000px){
  div.container{
    position: absolute;
    left: 250px;
  }
}
@media (max-width: 768px){
  div.container{
    position: absolute;
    left: 60px;
    max-width: 800px;
  }
}




/*
td.name{

  position: absolute;
  left: 200px;
}
td#empfangername{
  position: absolute;
  left:400px;
  right: 600px;
}

td.subject{
  position: absolute;
  right: 400px;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

td.time{
  position: absolute;
  right: 200px;
}
button.btn.btn-primary{
  position: absolute;
  left: 180px;
}

button#empfanger.btn.btn-primary{
  position: absolute;
  left: 350px;
}

button#nachricht.btn.btn-primary{
  position: absolute;
  left: 610px;
}
button#datum.btn.btn-primary{
  position: absolute;
  left: 1150px;
}

*/
p.email-summary{
  color: #0a0a0a;

  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;

}

p.email-summary1{
  color: #0a0a0a;}
