








<div class="col-md-3 col-xl-2  bd-sidebar">
  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" routerLink="/">aktuell</a>
      <div class="bd-toc-item" *ngFor="let ueberschrift of ueberschriftList">
        <a [routerLink]=" ['/ueberschriftDetail', ueberschrift.id]">{{ueberschrift.text}}
          <span class="badge badge-primary badge-pill">{{ueberschrift.eintragList.length}}</span>

        </a>

      </div>
    </div>
  </nav>


</div>

