/*

ul.list-group-flush {


color: black;

}
*/

span.badge.badge-primary.badge-pill{
background-color: rgba(2, 6, 167, 0.99);
  color: #cccccc;

}

  h3 {

    margin-left: 24px;
  }

  .bd-links { /*// bu listenin icindeki yazilarin pozisyonu*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: 0px;
    margin-top: 50px;
    background-color: rgba(162, 164, 165, 0.15);
  }

  .bd-sidebar {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 2rem;

  }
  .bd-toc-link{
    display: block;
    padding-bottom:  1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
    padding-left: 5px;

  }
.bd-toc-item{
  padding-bottom: 0.75rem;
  padding-left: 5px;

}


@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
}



@media (min-width:768px) {
  .bd-links {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;    /*// bu kod asagi yukari ok icin*/
  }

}




@media (min-width: 768px) {
  .bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 20%;
}
a{
  word-wrap: break-word;
  color: rgba(10, 10, 10, 0.48);

}


