




textarea{
  width: 700px;
}



@media(max-width: 1200px) {
  textarea {
    width: 400px;

  }
}
@media(max-width: 680px) {
  textarea {
    width: 300px;

  }
}


div.card.col-sm-8.login-section{
  margin-bottom: 10px;
  background: rgba(229, 232, 234, 0.63);


  position: absolute;

  margin-top: 50px;
  left: 450px;
}
@media(max-width: 1200px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 350px;

  }
}

@media(max-width: 1050px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 300px;

  }
}

@media(max-width: 900px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 250px;

  }
}

@media(max-width: 768px) {
  div.card.col-sm-8.login-section {
    position: absolute;
    left: 30px;

  }
}
